{% extends 'PaymentApplicationBundle::layout.html.twig' %}
{% block title %}Página Inhabilitada - {{ parent() }} {% endblock %}
{% block content %}
<div id="title_image">Página Inhabilitada</div>
Por favor vuelva a intentarlo mas tarde. Por favor consulte con el Adminsitrador del sistema.
{% endblock content %}
