{% extends 'PaymentApplicationBundle::layout.html.twig' %}
{% block title %}Permiso Denegado - {{ parent() }} {% endblock %}
{% block content %}
<div id="title_image">Permiso Denegado</div>
Usted no tiene autorización para ingresar a esta página. Por favor consulte con el Administrador de sistema.
{% endblock content %}
