@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
	margin:0;
	padding:0;
	font-size:12px;
	font-family: "ArmataRegular","Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#666666;
	background-color:##ebebed;
	height: auto;
	}
input{
	border: 1px solid #a5c4d4;
	border-radius: 3px;
	padding: 5px;
	box-shadow: 0 0 5px #CDCDCD inset;

}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
	display:block;
	width:100%;
	text-align:left;
	clear: both;
	
	}

h1{
	color: #737373;
    font-family: "ArmataRegular","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 0 0 61px;
	
	}
	
	/*este si se usa*/

.col0{
	color:#999999; 
	background-color:#333333;
	height:150px;
	background-repeat:repeat-x;
	background-image: url(../images/back_h.jpg);	
	}

.col1{
	color:#999999; 
	background-color:#9dc5d2;
	height:100px;
	/*background-repeat:repeat-x;
	background-image: url(../images/background_col1.jpg);*/	
	height:100px;
	background-repeat:repeat-x;
	/*background-image: url(../images/background_col1.jpg);*/	
/*refs/remotes/origin/master*/
	}
	
.col4{
	color:#ffffff; 
	padding-top: 31px;	
	}


#formulario{
	
    height: 212px;
    margin: -30px auto 0;
    position: inherit;
    width: 317px;
	}

/* ----------------------------------------------Header-------------------------------------*/

#header{
	padding:25px 0 0;
	background-image:url(../images/header.jpg);
	background-repeat: no-repeat; 
	/*padding:10px 0 20px;*/
	/*z-index:1000;*/
	width: 960px;
	height: 135px;
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}

#header h1, #header p, #header ul{
	margin:0;
	/*padding:0;*/
	list-style:none;
	line-height:normal;
	}

#logo{
	/*background-image:url(../images/header.jpg);*/
	width:225px;
	height:78px;
	background-repeat: no-repeat;
	margin: 0 auto;
	}
	
#body_int{
	
	background-image:url(../images/body_int.jpg);
	margin: 30px auto 0;
	width:960px;
	height:387px;
	position: relative;
	}

#body_int #formulario{
	/*background-color: #c71209;*/
	background: -moz-linear-gradient(center top , #E5E5E5 2%, #BABABA 5%, #EBEBEB 29%) repeat scroll 0 0 transparent;
    background-color: #EBEBEB;
    border: 2px solid #AFAFAF;
    border-radius: 8px 8px 8px 8px;

	}

#header #logo{
	display:block;
	margin-top:0px;
	/*margin-top:7px;*/
	overflow:hidden;
	/*margin:auto;*/
	background-image:url(../images/logo_sicoap.png);
	
	
	}


#header #logo h1 a{
	font-size:46px;
	color:#999999;
	background-color:#000000;
	}

#header h1 strong{
	font-weight:normal;
	color:#FFFF00;
	background-color:#000000;
	}

#header #logo p{
	text-align:right;
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:lowercase;
	}

/* ----------------------------------------------Content-------------------------------------*/

#contentAll{
	background: -moz-linear-gradient(center bottom , #FFFFFF 56%, #D4D4D4 116%) repeat scroll 0 0 transparent;
	height: 80px;
	
}


.container{
	padding:20px 0;
	}

#body_bg{
	background-image: url("../images/back_1_h.jpg");
    display: block;
    float: left;
    height: 387px;
    position: relative;
    width: 100%;
	}
	

/* ----------------------------------------------Footer-------------------------------------*/

#footer{
	background-image: url("../images/back_2_h.jpg");
    height: 58px;
    /*margin-top: 175px;*/
    position: inherit;
    clear: left;
	}

/* ----------------------------------------------Copyright-------------------------------------*/

#copyright{
	background-image: url("../images/background_copy.jpg");
    background-repeat: repeat-x;*/
    font-size: 11px;
    height: 34px;
    padding-top: 16px;
    color: #ffffff;
	}

#copyright p{
	margin:0;
	padding:0;
	}
	
	
/* ----------------------------------------------login-------------------------------------*/
	
#login-form
{
        padding-top:5px
}

#login-form fieldset
{
        padding:0px;

}

#login-form .inputbox
{
        padding:2px
}

#login-form fieldset.input
{
        padding:10px 0 0 0;
        margin:0px 0 10px 5px
}

#login-form label
{
        margin-right:10px;
        width:8.4em;
        display:block;
        float:left
}

	
/* ----------------------------------------------form-------------------------------------*/


label
{
text-align: left;
display: block;

}


label .error
{
font-size: 10px;
}


.texto-menu
{
	background: none repeat scroll 0 0 #909090;
	background-image: url("../images/image_input.jpg");
	background-repeat: repeat-x;
    border: 1px solid #ffffff;
    box-shadow: 1px 3px 4px #FFFFFF ;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 5px;
    width: 130px;
}


fieldset
{
border: 1px solid #781351;
}

legend
{
color: #fff;
background: #ffa20c;
border: 1px solid #781351;
padding: 2px 6px
} 




.content{
	display:block;
	float:left;
	width:630px;
	}
	
#caja{
	padding: 20px 20px 0;
	}
	
#button_enter{
	/*background-color: #8F0507;*/
    background-image: url("../images/button_login.png");
    border: 0 none;
    color: #FFFFFF;
    height: 27px;
    width: 96px;
	font: font-family: "ArmataRegular","Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#FFF;
	font-weight:normal;
	margin-top:5px;
	
	}
	
.menu_int{
	
	background: none repeat scroll 0 0 #5b6065;
	font-family: "ArmataRegular","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    border: medium none;
    margin-top: 20px;
    width:199px;
}

.menu_int td a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.menu_int tr{
	background-image: url("../images/line_table.jpg");
    background-repeat: repeat-x;

}

.menu_int td{
	padding: 8px 18px 8px 18px;

}


.menu_int a{
	
	color: #a9d0ff;
	text-decoration: none;
}


.menu_int td:hover {
    background-color: #5eabea;
    color: #FFFFFF;
}


#texto_gris a{
	color:#909090;
	font-family:font: font-family: "ArmataRegular","Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:normal;
	padding-right: 18px;
	
	}
	
#tableListUser {
    
  	border: none;
    color: #6a6d71;
    width: 100%;
    display: table;
    background: #ececec;
    overflow: hidden;
   }
  

#tableListUser tr {
    border-bottom: 2px solid #fff;

}

#tableListUser td{
 
    padding: 10px;
}

#tableListUser th{
 
    padding: 10px;
    color: #fff;
    background-color: #86a1ae;
    text-align: left;
}

#url_b_content #icons_reportes a{
	color: #0078aa;
}

#url_b_content #icons_reportes a:hover{
	color: #949494;
}


#contentRight { 
 	/*background-image: url("../images/background.png");*/
 	background: -moz-linear-gradient(center top , #FAFAFA 0%, #D4D4D4 100%) repeat scroll 0 0 transparent;
   	background-color:#f5f5f5;
    border: 1px dashed #bbd4e6;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px 3px 6px #BABABA;
    color: #0D5F99;
    padding: 20px;
}
#tableEditUser tr {
	border-bottom: #c4c4c4;     
}

#tableEditUser .title{
	width: 200px;	
}

#tableEditUser #button_enter{
	display:inline;	
}
	
#modulos{
	
    padding-top: 20px;
    width: 150px;
     margin: -84px 20px 0px 0px;
    padding-top: 20px;
    width: 700px;
    float: right;	
}

#logo_int {
	
	
	width: 223px;
    height: 77px;
    /*background-image: url("../images/logo_sicoap.png");
    background-repeat: no-repeat;*/
    
    
}

#logo_sup {
	
    /*background: -moz-linear-gradient(center top , #D4D4D4 0%, #FFFFFF 42%) repeat scroll 0 0 transparent;*/
    background-image: url("../images/header_logo.png");
    background-repeat: no-repeat;
    height:100px;
    margin-left: 22px;
    margin: 0 auto;
    min-width: 999px;
    max-width: 1024px;
    width: 95%;

    
}

#button_search{
	background: -moz-linear-gradient(center top , #E4F1F6 0%, #CFE6EF 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CED5D7;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 0 3px #EEF5F7;
    font-weight: bold;
    padding: 5px 9px;
    text-shadow: 1px 1px 0px white;
}
#loguot{
	padding-top: 50px;
	 text-align: center;
	 color: #363636;
	 font-weight: lighter;
}

#loguot a{
	color: #0079b7;
	font-weight: bold;
}

#menu_sup {
   /* background: url("../images/menu_sup_img.png") repeat-x scroll 0 0 transparent;*/
    border-radius: 0 0 4px 4px;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset;
    clear: both;
    padding: 5px;
    right: 45px;
    text-shadow: 0 1px 0 #FFFFFF;
    top: 167px;
    font-size: 11px;
    width: auto;    
}

#menu_sup a, #paginator a, .modal, .content_table a, #print a{
 color: #335e75;
 text-decoration: none;  
 font-size: 12px;
 font-weight: bold; 
}

#menu_sup a:hover, #paginator a:hover, .modal:hover, .content_table a:hover, #print a:hover{
 color: #a6a6a6;
 text-decoration: none;   
}

#menu_sup td{
   
     -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #D1D1D1;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 0 0;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 1px 0 0 rgba(255, 255, 255, 0.8) inset;
    padding: 0 13px 3px;
}

.texto_vino a{	
	color: #ffffff;
	float: right;
	padding: 0px 5px 0px 5px;
}

#button_int{
	display: table-cell;	
}

#total {
	margin-bottom: 20px;
}

#url_b_content{
    float: left;
    margin: 20px 0 0 20px;
    width: 82%;
    color: #1862a1;  
   /* overflow: hidden;*/ 
}

#botonera{
	float:left;
	overflow: hidden;
	/*margin-right: 9px;*/
    overflow: hidden;
    /*width: 190px;*/
}

#title_image{
	background-image: url("../images/img_inicio.png");
    background-repeat: no-repeat;
    padding-left: 80px;
    font-weight: bold;
    color: #1862a1; 
    height: 70px;
    padding-top: 20px;
    font-size: 22px;
}

div.error {
	color: #ff0000 !important;
	font-size: 7pt;
	
}

#printTable{
	width: 100%;
}

#printTable span{
	font-size: 24px;
	font-weight: bold;
}
.itemTable1{
	font-weight: bold;
	width: 20%;
}
.itemTable{
	font-weight: bold;
	width: 10%;
}
.itemDetail{
	text-align: center;
}

#printTableDetail { width: 100%; border-collapse: collapse; border-spacing: 0; }

.itemTotal{
	font-size: 20px;
	font-weight: bold;
}

#printTableList {
	width: 95%;
	font-size: 14px;
	border-collapse: collapse; border-spacing: 0;
	margin: auto;
}

#imageGenerateList{
	background-image: url("../images/img_icon_11.jpg");
    background-repeat: no-repeat;
    height: 113px;
    width: 87px;
    margin: auto;
}

#imageGenerateList:HOVER{
	background-image: url("../images/img_icon_11_1.jpg");
    background-repeat: no-repeat;
    height: 113px;
    width: 96px;
    margin: auto;
}


#imageExpense{
	background-image: url("../images/img_icon_03.jpg");
    background-repeat: no-repeat;
    height: 113px;
    width: 87px;
    margin: auto;
}

#imageExpense:HOVER{
	background-image: url("../images/img_icon_03_1.jpg");
    background-repeat: no-repeat;
    height: 113px;
    width: 96px;
    margin: auto;
}

#imageFine{
	background-image: url("../images/img_icon_05.jpg");
    background-repeat: no-repeat;
    height: 113px;
    width: 87px;
    margin: auto;
}

#imageFine:HOVER{
	background-image: url("../images/img_icon_05_1.jpg");
    background-repeat: no-repeat;
    height: 113px;
    width: 96px;
    margin: auto;
}

#imageGastos{
	background-image: url("../images/img_icon_07.jpg");
    background-repeat: no-repeat;
    height: 113px;
    width: 87px;
    margin: auto;
}

#imageGastos:HOVER{
	background-image: url("../images/img_icon_07_1.jpg");
    background-repeat: no-repeat;
    height: 113px;
    width: 96px;
    margin: auto;
}

#imageMember{
	background-image: url("../images/img_icon_09.jpg");
    background-repeat: no-repeat;
    height: 113px;
    width: 87px;
    margin: auto;
}

#imageMember:HOVER{
	background-image: url("../images/img_icon_09_1.jpg");
    background-repeat: no-repeat;
    height: 113px;
    width: 96px;
    margin: auto;
}

#imageGenerateList{
	background-image: url("../images/img_icon_11.jpg");
    background-repeat: no-repeat;
    height: 113px;
    width: 87px;
    margin: auto;
}

#imageGenerateList:HOVER{
	background-image: url("../images/img_icon_11_1.jpg");
    background-repeat: no-repeat;
    height: 113px;
    width: 96px;
    margin: auto;
}

#printTableDetail1 { width: 100%; border-collapse: collapse; border-spacing: 0; visibility: hidden;}
#printTable1{ width: 100%; visibility: hidden;}
.printReport{
	font-size: 12px;}