<table width="100%" border="0" cellpadding="0" cellspacing="0">    
      <tr>
    <td>
    <div style="margin-left: 20px; margin-top: 20px;">
      <img src="{{ url('logo_imagecenter') }}" border="0" />
      </div>
    </td>
  </tr>
  <tr>
    <td style="padding:20px;" ><div style="padding:30px; border:1px; color:#86A1AE; border-style: solid; background-color:#e9e9e9; width:60%;">
    <div style="font: Verdana, Geneva, sans-serif; color: #6A6D71; font-size:11px; text-align:left">
    <font color="#1862A1" style="font-weight:bold">Estimad@ {{ user.username }} ! <br />
      <br />
      </font> Para cambiar su contrase&ntilde;a ingrese al siguiente link: <br />
      <br />
      <a href="{{ confirmationUrl }}">Cambiar contrase&ntilde;a</a> <br />
      <br />
      Si el link no se abre, por favor copie y pegue la siguiente direcci&oacute;n en su explorador: <br />
      <br />
      {{ confirmationUrl }} <br />
      <br />
        Atentamente, <br /><br/>
        <font color="#000000" style="font-weight:bold">
    SICOAP <br/>
    Sistema de Control de Agua Potable y Alcantarillado. </font></div></div></td>
   
  </tr>
  <tr>
    <td></td>
  </tr>
 
</table>