<div id="modulos">    
    {% if is_granted('ROLE_USER') %}
             	 
                    <div class="texto_vino"><a href="{{ path('_editProfile') }}">Mi perfil</a></div>
                

       
                    <div class="texto_vino"><a href="{{ path('_logout') }}">Cerrar Sesi&oacute;n</a></div>
               
    {% endif %}

    </div>